<div class="card" style="width: 18rem;">
  {{ content.field_image }}
  <div class="card-body">
  	<div class="card-title">{{ label }}</div>
    <p class="card-text">{{ content.body }}</p>
    <a href="{{ url }}" class="card-link">Read More</a>
  </div>
</div>
